.title{
    width:500px;
    text-align: center;
    margin: 20px auto;
}
.navbar-logo{
    height:100%;
}
.navbar-brand{
    padding: 2px 10px;
}
.sign-in-box{
    /*width:800px;*/
    /*margin: 20px auto;*/
    margin-top:80px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid grey;
    padding:0px 20px 20px 20px;
}

.hide{
    display: none;
}

.log-hours-box{
    border-radius:10px;
    /*border: 1px solid grey;*/
    padding: 0px 20px 20px 20px;
}